.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: #131313;
    color: white;
    font-size: 20px;
    font-weight: 200;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
}

.form .description {
    text-align: center;
    margin-bottom: 50px;
}

.form textarea {
    height: 100px;
    margin-top: 5px;
    padding: 10px;
    resize: none;
}

.form input , .form textarea {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    background-color: rgb(26, 26, 26);
    color: white;
    border: none;
    font-size: 16px;
    font-family: inherit;
    box-sizing: border-box;
}

.form label {
    width: 100%;
}

.form h3 {
    font-weight: 200;
}

.form button {
    background: none;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-family: inherit;
    font-weight: 200;
}

.form button:hover {
    background-color: #45a049;
    color: white;
    transition: 0.5s;
}

.form p {
    margin: 0;
}

.form button {
    margin-top: 15px;
    color: white;
    background: linear-gradient(to bottom, #131313 50%, #4e9f3d 50%);
    background-size: 100% 200%;
    transition: 0.1s ease-in-out;
    padding: 7px 11px 8px 10px;
    font-size: 20px;
    font-weight: 200;
    text-decoration: none;
    text-align: left;
    width: max-content;
    border-bottom: #4e9f3d 1px solid;
}

.form button:hover {
    background-position: bottom;
    color: white;
}